.col{
    width: 25px;
    height: 25px;
    border: 1px solid black;
    float: left;
}
#legend *{
    float: left;
    margin: 0;
    margin-right: 5px;
    padding: 0;
}
.row{
    clear: both;
}
.player1{
    background-color: red;
}
.player2{
    background-color: blue;
}
